*{
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(54, 69, 79, 1) 100%);
  color: #fff;
}

header.carrito {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(54, 69, 79, 1) 100%);
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffd700;
}

.carrito_tittle {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #ffd700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carrito_icon {
  font-size: 2rem;
  cursor: pointer;
  color: #ffd700;
  transition: transform 0.2s ease-in-out;
}

.carrito_icon:hover {
  transform: scale(1.1);
}

h2 {
  text-align: center;
  font-size: 32px;
  margin: 2rem 0;
  color: #ffd700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main.main {
  padding: 2rem;
  text-align: center;
}

.products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.product {
  flex: 0 0 30%;
  max-width: 30%;
  margin: 1%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  box-sizing: border-box;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-name {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.product-price {
  font-size: 1.25rem;
  color: #ffd700;
  margin: 0.5rem 0;
}

.add-to-cart button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #ffd700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-to-cart button:hover {
  background-color: #ffbf00;
}

.product:hover {
  transform: scale(1.05);
}
.add-to-cart button:disabled {
    filter: brightness(50%);
}




.sidebar {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(17, 17, 17, 0.75);
  justify-content: flex-end;
}

.carrito_items {
  padding: 25px;
  width: 30vw;
  background-color: rgba(0, 0, 0, 1);
  overflow-y: scroll;
  border-radius: 24px 0px 0px 24px;
  color: #fff;
}

.sidebar_tittle {
  text-align: center;
  font-size: 24px;
  color: #ffd700;
  margin-bottom: 20px;
}

.button_exit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  font-size: 30px;
  border-radius: 0 0 0 24px;
  border: none;
  background-color: #ff4c4c;
  display: grid;
  place-content: center;
  cursor: pointer;
  color: #fff;
}

.button_exit:hover {
  filter: brightness(80%);
}

.hidden {
  display: none;
}

.sidebar_article {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: rgba(54, 69, 79, 1);
  border-radius: 24px;
  padding: 10px;
  align-items: center;
}

.image-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-contenedor img {
  width: 100px;
  border-radius: 12px;
}

.article_info {
  flex-grow: 1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.quantity_controls {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.quantity_controls button {
  font-size: 24px;
  width: 36px;
  height: 36px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  background-color: rgba(54, 69, 79, 1);
  color: #fff;
  transition: background-color 0.3s;
}

.quantity_controls button:hover {
  background-color: #575757;
}

.increment {
  color: #00ff00;
}

.decrement {
  color: #ff0000;
}

.contenedor-borrar {
  display: grid;
  place-content: center;
  background-color: #ff4c4c;
  padding: 10px;
  cursor: pointer;
  border-radius: 24px;
  transition: background-color 0.3s;
}

.contenedor-borrar:hover {
  background-color: #e04545;
}

.container_comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#button_comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: none;
  padding: 15px 30px;
  border-radius: 24px;
  color: #fff;
  background-color: #ffd700;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button_comprar:hover {
  background-color: #ffbf00;
}

.totalCompra {
  display: flex;
  justify-content: center;
  align-items: center;
  
}