body {
    background-image: url('https://s1.1zoom.me/b5050/669/USA_Mountains_479558_3840x2160.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form label {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.text {
    width: 100%;
    font-size: 16px;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.login {
    width: 100%;
    font-size: 18px;
    border: none;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    padding: 15px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
}

.login:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
}

a {
    text-decoration: none;
    color: #6e8efb;
}

.aviso,
.avisoCorrecto {
    width: 100%;
    text-align: center;
    
}

.aviso {
    color: #f50c0c;
}

.avisoCorrecto {
    color: #0ebf0e;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}